<div class="movie-info-wrapper">
    <mat-card *ngIf="movieInfo">
      <mat-card-title>
        {{ movieInfo.original_title }}
      </mat-card-title>
      <mat-card-content>
        <div class="movie-details">
            <img [src]="'http://image.tmdb.org/t/p/w300' + movieInfo.poster_path" 
            onError="this.src='../assets/no-image.png';"  [alt]="movieInfo.title" />
            
            <div class="movie-details-info">
                <div class="movie-details-info-item">
                    <p>Overview:</p>{{ movieInfo.overview }}
                </div>
                <div class="movie-details-info-item">
                    <p>Vote average:</p>{{ movieInfo.vote_average }}
                </div>
                <div class="movie-details-info-item">
                    <p>Release date:</p>{{ movieInfo.release_date }}
                </div>
            </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>