.movie-details {
    display: flex;
    padding-top: 20px;
}

.mat-card-title {
    margin-bottom: 0;

    .mat-figure{
        display: block;
    }
}

.movie-info-wrapper {
    padding: 30px;
}

.movie-details-info {
    padding: 0 20px;

    p {
        margin: 0;
        font-weight: bold;
    }

    &-item {
        padding-bottom: 15px;
    }
}