.wrap {
    padding: 20px;
}

.search-input {
    height: 25px;
    border: none;
    outline: 0;
    padding: 5px;
    width: 300px;
    background-color: transparent;
}

.search-wrap {
    border:solid 1px #ccc;
    border-radius: 5px;
    float: left;
}

.form-wrap {
    margin: 0 20px 20px 20px;
}