<div class="wrap">
  <div class="form-wrap">
    <h2>Find your film</h2>
    <form>
      <div class="search-wrap">
        <input class="search-input" name="searchText" [(ngModel)]="searchText" (keyup.enter)="goSearchResult()" />
        <button mat-raised-button (click)="goSearchResult()" color="primary">
          <mat-icon class="material-icons">search</mat-icon>
        </button>
      </div>
    </form>
  </div>
  <router-outlet></router-outlet>
</div>
<!-- <pre>
  {{ result | json }}
</pre> -->