<div *ngIf="items">
    <div class="item-list">
      <mat-card class="item" *ngFor="let item of items.results; let i = index; let loaded = false;" (click)="goToDetailsPage(item.id)">
        <mat-card-header>
          <mat-card-title>
            {{ item.title }}
          </mat-card-title>
        </mat-card-header>
        <img [hidden]="loaded" src="../assets/spinner.gif" />
        <img [hidden]="!loaded" mat-card-image [src]="'http://image.tmdb.org/t/p/w185' + item.poster_path" alt="poster"
          onError="this.src='../assets/no-image.png';" (load)="loaded = true;" />
        <div>
          <button mat-raised-button color="primary">
            READ MORE
          </button>
        </div>
      </mat-card>
    </div>
  </div>
