.item {
    flex-direction: column;
    display: flex;
    margin: 20px;
    width: 190px;
}

.spinner {
    width: 190px;
    height: 250px;
    display: block;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
    clear: both;
}

.mat-card>:first-child {
    margin: auto;
}

.search-input {
    height: 25px;
    border: none;
    outline: 0;
    padding: 5px;
    width: 300px;
    background-color: transparent;
}

.search-wrap {
    border:solid 1px #ccc;
    border-radius: 5px;
    float: left;
}

.form-wrap {
    margin: 0 20px 20px 20px;
}